asgiref==3.7.2
asn1crypto==1.5.1
click==8.1.7
coverage==7.2.7
Django==4.2.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
pypdf==3.15.4
pypng==0.20220715.0
python-decouple==3.8
requests==2.31.0
sqlparse==0.4.4
xhtml2pdf==0.2.11
