<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Informe de Ventas</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/sales_report.css"
    />
  </head>
  <body>
    <div class="content">
      <div class="header">
        <section class="logo">
          <img src="../static/imgs/logo.png" alt="Logo de Dinexus" />
        </section>

        <section class="title">
          <h1>DiNexus</h1>
          <h2>Informe de Ventas</h2>
          <p>Solicitante: {{nombre_solicitante}}</p>
          <p>Entre fechas: {{ start_date }} y {{ end_date }}</p>
          <p>Fecha: {{ date }}</p>
          <p>Total de ventas en Bs: {{ sales }}</p>
        </section>
      </div>

      <div class="body">
        {% for category in categories %}
        <h2>Categoria: {{ category.name }}</h2>
        <table>
          <thead>
            <tr>
              <th colspan="5">Producto</th>
            </tr>
            <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Precio(Bs)</th>
              <th>Costo de envio</th>
              <th>Destino</th>
            </tr>
          </thead>
          <tbody>
            {% for product in category.products %}
            <tr>
              <td>{{product.name}}</td>
              <td>{{ product.date }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.shipping_cost }}</td>
              <td>{{ product.destination }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th colspan="5">Stock</th>
            </tr>
            <tr>
              <td>Unidades faltantes: 15</td>
              <td>Unidades vendidas: 5</td>
              <td>Total ventas: {{category.total_price}}</td>
              <td>
                Total costos de envio: {{category.total_shipping_cost}}
              </td>
              <td></td>
            </tr>
          </tfoot>
        </table>
        {% endfor %}
      </div>

      <div class="footer">
        <p>
          <b
            >Este documento no tiene validez sin las firmas de los fundadores</b
          >
        </p>
      </div>
    </div>
  </body>
</html>
