<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Informe de Ventas</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/sales_report.css"
    />
  </head>
  <body>
    <div class="content">
      <div class="header">
        <section class="logo">
          <img src="../static/imgs/logo.png" alt="Logo de Dinexus" />
          <h1>DiNexus</h1>
        </section>

        <section class="title">
          <h2>Informe de Ventas</h2>
          <p>Fecha: {{date}}</p>
          <p>Solicitante: {{nombre_solicitante}}</p>
          <p>Entre fechas: {{ start_date }} y {{ end_date }}</p>
          <p>Total de ventas en Bs: {{ sales }}</p>
        </section>
      </div>

      <div class="body">
        {% for category in categories %}
        <h2>Categoria: {{ category.name }}</h2>
        <table>
          <thead>
            <tr>
              <th colspan="5">Productos</th>
            </tr>
            <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Precio(Bs)</th>
              <th>Costo de envio</th>
              <th>Destino</th>
            </tr>
          </thead>
          <tbody>
            {% for product in category.products %}
            <tr>
              <td>{{product.name}}</td>
              <td>{{ product.date }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.shipping_cost }}</td>
              <td>{{ product.destination }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th colspan="4">Stock</th>
            </tr>
            <tr>
              <th>Unidades en stock</th>
              <th>Unidades vendidas</th>
              <th>Total de ventas</th>
              <th>Total de costos de envio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br />
      <div class="footer">
        <p>Firma y Nombre(Fundador)</p>
        <p>
          <b>Documento valido con las firmas de los fundadores</b>
        </p>
      </div>
    </div>
  </body>
</html>
